<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTVJonathanValentin</title>
</head>

<body>
    
    <h3> Familiares: </h3>

    <p>
        {% for n in lista %}
        Nombre: {{n.nombre}}, Apellido: {{n.apellido}}, Parentesco: {{n.parentesco}}, Fecha de Nacimiento: {{n.fechaDeNacimiento}}, Edad: {{n.edad}}
        <br>
        {% endfor %}
    </p>

</body>

</html>